{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href="https://fonts.googleapis.com/css?family=Candal|Sawarabi+Gothic" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Anton|Muli:300,400" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/pcusite.css' %}">
	<link rel="icon" type="image/png" href="{% static 'img/nuevo_mini_logo_pcu_colores.ico' %}">
	<title>Productos de Caucho Universal - Soluciones Sin Límites</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script type="text/javascript">
  		$(function() {
  			var links = $(".links_dos");
  			var content = $(".content");
  			links.click(function() {
  				links.removeClass("active");
  				$(this).addClass("active");
  			});
  			content.click(function() {
  				links.removeClass("active");
  				$(this).addClass("active");
  			});
  		});
  	</script>
</head>
<body>
	<header class="block">
		<nav class="navbar navbar_dos navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle menu_toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar icon-bar-dos"></span>
						<span class="icon-bar icon-bar-dos"></span>
						<span class="icon-bar icon-bar-dos"></span>
					</button>
					<a href="{% url 'home_page' %}" class="navbar-brand navbar-brand-dos">
						<img src="{% static 'img/nuevo_logo_pcu_completo_colores_vinotinto.png' %}"alt="PCU" width="290" height="140">
					</a>
				</div>
				<div class="links_webpage collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav navbar-right">
						<a class="links_dos enlace" href="{% url 'servicios' %}">Servicios</a>
						<a class="links_dos enlace dropdown dropdown-toggle" data-toggle="dropdown" href="{% url 'catalogo' %}">Catálogo</a>
							<ul class="submenu dropdown-menu">
								<li><a class="sub_link" href="{% url 'acero' %}">Industria del Acero</a></li>
								<li><a class="sub_link" href="{% url 'plastica' %}">Industria Plástica</a></li>
								<li><a class="sub_link" href="{% url 'papelcarton' %}">Industria de Papel y Cartón</a></li>
								<li><a class="sub_link" href="{% url 'textil' %}">Industria Textil</a></li>
								<li><a class="sub_link" href="{% url 'cemento' %}">Industria del Cemento</a></li>
								<li><a class="sub_link" href="{% url 'maderera' %}">Industria Maderera</a></li>
								<li><a class="sub_link" href="{% url 'minera' %}">Industria Minera</a></li>
								<li><a class="sub_link" href="{% url 'agricola' %}">Industria Agrícola</a></li>
								<li><a class="sub_link" href="{% url 'especiales' %}">Piezas y Trabajos Especiales</a></li>
							</ul>
						<a class="links_dos enlace" href="{% url 'quienes_somos' %}">Quienes Somos</a>
						<a class="links_dos enlace" href="{% url 'contacto' %}">Contacto</a>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="content_home">
		<div class="mostrador_servicios">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
					<li data-target="#myCarousel" data-slide-to="3"></li>
					<li data-target="#myCarousel" data-slide-to="4"></li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img src="{% static 'img/RODILLO_TRANSPORTADOR_DE_BANDA_IND_MINERA_FONDO.jpg' %}" style="width: 100%; height: 600px;">
						<div class="carousel-caption mensaje_imagen">
							<h3>Fabricación de Rodillos de Caucho</h3>
							<a href="{% url 'servicios' %}">Saber más</a>
						</div>
					</div>
					<div class="item">
						<img src="{% static 'img/BORDE_ONDULADO_DE_CAUCHO_V_DOS.jpg' %}" style="width: 100%; height: 600px;">
						<div class="carousel-caption mensaje_imagen">
							<h3>Fabricación de Piezas Especiales de Caucho</h3>
							<a href="{% url 'servicios' %}">Saber más</a>
						</div>
					</div>
					<div class="item">
						<img src="{% static 'img/ORINGS_DE_CAUCHO_EMPAQUES_V_UNO.jpg' %}" style="width: 100%; height: 600px;">
						<div class="carousel-caption mensaje_imagen">
							<h3>Fabricación de Sellos y Empaques de Caucho</h3>
							<a href="{% url 'servicios' %}">Saber más</a>
						</div>
					</div>
					<div class="item">
						<img src="{% static 'img/MANGUERAS_DE_CAUCHO.jpg' %}" style="width: 100%; height: 600px;">
						<div class="carousel-caption mensaje_imagen">
							<h3>Fabricación de Mangueras de Caucho</h3>
							<a href="{% url 'servicios' %}">Saber más</a>
						</div>
					</div>
					<div class="item">
						<img src="{% static 'img/MEZCLAS_DE_CAUCHO.jpg' %}" style="width: 100%; height: 600px;">
						<div class="carousel-caption mensaje_imagen">
							<h3>Diseño de Mezclas de Caucho</h3>
							<a href="{% url 'servicios' %}">Saber más</a>
						</div>
					</div>
				</div>
				<a class="left carousel-control" href="#myCarousel" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#myCarousel" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
		<div class="catalogo_industrias">
			<div class="titulo_catalogo_home">
				<h2>Ofrecemos soluciones en caucho para toda industria.</h2>
			</div>
			<div class="caja_industrias_1">
				<div class="mini_caja_ind">
					<a class="sub_link" href="{% url 'acero' %}">Industria del Acero</a>
				</div>
				<div class="mini_caja_ind">
					<a class="sub_link" href="{% url 'plastica' %}">Industria Plástica</a>
				</div>
				<div class="mini_caja_ind">
					<a class="sub_link" href="{% url 'papelcarton' %}">Industria de Papel y Cartón</a>
				</div>
				<div class="mini_caja_ind">
					<a class="sub_link" href="{% url 'textil' %}">Industria Textil</a>
				</div>
				<div class="mini_caja_ind">
					<a class="sub_link" href="{% url 'cemento' %}">Industria del Cemento</a>
				</div>
				<div class="mini_caja_ind">					
					<a class="sub_link" href="{% url 'maderera' %}">Industria Maderera</a>
				</div>
			</div>
			<div class="caja_industrias_2">
				<div class="mini_caja_ind">
					<a class="sub_link" href="{% url 'minera' %}">Industria Minera</a>
				</div>
				<div class="mini_caja_ind">
					<a class="sub_link" href="{% url 'agricola' %}">Industria Agrícola</a>
				</div>
				<div class="mini_caja_ind">
					<a class="sub_link" href="{% url 'especiales' %}">Piezas y Trabajos Especiales</a>
				</div>
			</div>
		</div>
		<div class="quines_somos_home">
			<div class="encabezado_quienes_somos_home">
				<div class="titulo_quienes_somos_home">
					<h1>¿Quiénes Somos?</h1>
				</div>
			</div>
			<div class="quienes_somos_texto_img_home">
				<div class="descripcion_quienes_somos_home">
					<p><img src="{% static 'img/SERV_RECTIFICADO.jpg' %}"alt="PCU" width="500" height="250">
						Cauchos Universal es una empresa fabricante y comercializadora de productos de caucho utilizados en diversos procesos industriales, desde rodillos para bandas transportadoras hasta sellos y empaques para tanques.<br><br>
						Somos reconocidos por brindar la mejor calidad a nuestros clientes, manteniendo sus lineas de producción y equipos en optimas condiciones y mejorando continuamente nuestros procesos para ofrecerles productos de alta durabilidad y resistencia.</p>
				</div>
			</div>
			<div class="link_quienes_somos">
				<a href="{% url 'quienes_somos' %}">Saber más</a>
			</div>
		</div>
		<div class="pie_pagina">
			<div class="redes_sociales">
				<img class="logo_fb" src="{% static 'img/LOGO_FB.png' %}"alt="PCU" width="20" height="20">
				<img class="logo_insta" src="{% static 'img/LOGO_INSTA.png' %}"alt="PCU" width="20" height="20">
				<img class="logo_tweet" src="{% static 'img/LOGO_TWITT.png' %}"alt="PCU" width="20" height="20">
			</div>
			<div class="derechos_resev">
				<p>2020 Productos de Caucho Universal. All rights reserved.</p>
			</div>
		</div>
	</div>
</body>
</html>