{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href="https://fonts.googleapis.com/css?family=Candal|Sawarabi+Gothic" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Anton|Muli:300,400" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/pcusite.css' %}">
	<link rel="icon" type="image/png" href="{% static 'img/nuevo_mini_logo_pcu_colores.ico' %}">
	<title>Cauchos Universal - Productos Industriales de Caucho</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script type="text/javascript">
  		$(function() {
  			var links = $(".links");
  			var cata = $(".cata");
  			var content = $(".content");
  			links.click(function() {
  				links.removeClass("active");
  				$(this).addClass("active");
  			});
  			content.click(function() {
  				links.removeClass("active");
  				cata.addClass("active");
  			});
  		});
  	</script>
</head>
<body>
	<header class="block">
		<nav class="navbar navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle menu_toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="{% url 'home_page' %}" class="navbar-brand">
						<img src="{% static 'img/nuevo_logo_pcu_completo_blanco.png' %}"alt="PCU" width="250" height="140">
					</a>
				</div>
				<div class="links_webpage collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav navbar-right">
						<a class="links" href="{% url 'servicios' %}">Servicios</a>
						<a class="links cata active dropdown dropdown-toggle" data-toggle="dropdown" href="{% url 'catalogo' %}">Catálogo</a>
							<ul class="submenu dropdown-menu">
								<li><a class="sub_link" href="{% url 'acero' %}">Industria del Acero</a></li>
								<li><a class="sub_link" href="{% url 'plastica' %}">Industria Plástica</a></li>
								<li><a class="sub_link" href="{% url 'papelcarton' %}">Industria de Papel y Cartón</a></li>
								<li><a class="sub_link" href="{% url 'textil' %}">Industria Textil</a></li>
								<li><a class="sub_link" href="{% url 'cemento' %}">Industria del Cemento</a></li>
								<li><a class="sub_link" href="{% url 'maderera' %}">Industria Maderera</a></li>
								<li><a class="sub_link" href="{% url 'minera' %}">Industria Minera</a></li>
								<li><a class="sub_link" href="{% url 'agricola' %}">Industria Agrícola</a></li>
								<li><a class="sub_link" href="{% url 'especiales' %}">Piezas y Trabajos Especiales</a></li>
							</ul>
						<a class="links" href="{% url 'quienes_somos' %}">Quienes Somos</a>
						<a class="links" href="{% url 'contacto' %}">Contacto</a>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="content">
		<div class="encabezado_catalog_papel_carton">
			<div class="titulo_catalog_papel_carton">
				<h1>Soluciones para la Industria Maderera</h1>
				<p>Para la industria maderera fabricamos rodillos lijadores muy utilizados en los procesos de fabricación de la madera.</p>
			</div>
		</div>
		<div class="catalogo_papel_carton">
			<div class="catalogo_fila_uno row">
				<div class="col-sm-6">
					<div class="thumbnail">
						<img src="{% static 'img/RODILLO_LIJADOR_EN_IND_MADERA.jpg' %}"alt="PCU" width="600" height="500">
						<div class="caption">
							<p>Rodillos Lijadores para la Industria Maderera.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="pie_pagina">
			<div class="redes_sociales">
				<a href="https://www.facebook.com/cauchosuniversalbaq">
					<img class="logo_fb" src="{% static 'img/LOGO_FB.png' %}"alt="PCU" width="20" height="20">
				</a>
				<a href="https://www.instagram.com/cauchosuniversalbaq/">
					<img class="logo_insta" src="{% static 'img/LOGO_INSTA.png' %}"alt="PCU" width="20" height="20">
				</a>
				<a href="https://www.linkedin.com/company/cauchosuniversalbaq/">
					<img class="logo_linkedin" src="{% static 'img/linkedin.png' %}"alt="PCU" width="20" height="20">
				</a>
			</div>
			<div class="derechos_resev">
				<p>2020 Cauchos Universal. All rights reserved.</p>
			</div>
		</div>
	</footer>
</body>