{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href="https://fonts.googleapis.com/css?family=Candal|Sawarabi+Gothic" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Anton|Muli:300,400" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/pcusite.css' %}">
	<link rel="icon" type="image/png" href="{% static 'img/nuevo_mini_logo_pcu_colores.ico' %}">
	<title>Productos de Caucho Universal - Soluciones Sin Límites</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script type="text/javascript">
  		$(function() {
  			var links = $(".links_dos");
  			var content = $(".content");
  			links.click(function() {
  				links.removeClass("active");
  				$(this).addClass("active");
  			});
  			content.click(function() {
  				links.removeClass("active");
  				$(this).addClass("active");
  			});
  		});
  	</script>
</head>
<body>
	<header class="block">
		<nav class="navbar navbar_dos navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle menu_toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar icon-bar-dos"></span>
						<span class="icon-bar icon-bar-dos"></span>
						<span class="icon-bar icon-bar-dos"></span>
					</button>
					<a href="{% url 'home_page' %}" class="navbar-brand navbar-brand-dos">
						<img src="{% static 'img/nuevo_logo_pcu_completo_colores_vinotinto.png' %}"alt="PCU" width="290" height="140">
					</a>
				</div>
				<div class="links_webpage collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav navbar-right">
						<a class="links_dos" href="{% url 'servicios' %}">Servicios</a>
						<a class="links_dos dropdown dropdown-toggle" data-toggle="dropdown" href="{% url 'catalogo' %}">Catálogo</a>
							<ul class="submenu dropdown-menu">
								<li><a class="sub_link" href="{% url 'acero' %}">Industria del Acero</a></li>
								<li><a class="sub_link" href="{% url 'plastica' %}">Industria Plástica</a></li>
								<li><a class="sub_link" href="{% url 'papelcarton' %}">Industria de Papel y Cartón</a></li>
								<li><a class="sub_link" href="{% url 'textil' %}">Industria Textil</a></li>
								<li><a class="sub_link" href="{% url 'cemento' %}">Industria del Cemento</a></li>
								<li><a class="sub_link" href="{% url 'maderera' %}">Industria Maderera</a></li>
								<li><a class="sub_link" href="{% url 'minera' %}">Industria Minera</a></li>
								<li><a class="sub_link" href="{% url 'agricola' %}">Industria Agrícola</a></li>
								<li><a class="sub_link" href="{% url 'especiales' %}">Piezas y Trabajos Especiales</a></li>
							</ul>
						<a class="links_dos active" href="{% url 'quienes_somos' %}">Quienes Somos</a>
						<a class="links_dos" href="{% url 'contacto' %}">Contacto</a>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="content">
		<div class="encabezado_quienes_somos">
			<div class="titulo_quienes_somos">
				<h1>¿Quiénes Somos?</h1>
				<p>Ayudamos a las empresas a mantener optima su linea de producción ofreciendoles soluciones en piezas y articulos de caucho.</p>
			</div>
		</div>
		<div class="quienes_somos_texto_img row">
			<div class="imagen_quienes_somos col-sm-5">
				<img src="{% static 'img/SERV_RECTIFICADO.jpg' %}"alt="PCU" width="500" height="250">
			</div>
			<div class="descripcion_quienes_somos col-sm-7">
				<p class="quienes_somos_p1">Cauchos Universal es una empresa fabricante y comercializadora de productos de caucho utilizados en diversos procesos industriales, desde rodillos para bandas transportadoras hasta sellos y empaques para tanques.</p>

				<p class="quienes_somos_p2">Somos reconocidos por brindar la mejor calidad a nuestros clientes, manteniendo sus lineas de producción y equipos en optimas condiciones y mejorando continuamente nuestros procesos para ofrecerles productos de alta durabilidad y resistencia.</p>

			</div>
		</div>
		<div class="quienes_somos_historia">
			<p>Con sede en la ciudad de Barranquilla, somos una empresa con mas de 20 años de experiencia en fabricacion y comercialización de productos de caucho, creada para satisfacer la demanda del mercado local y nacional en la fabricación de rodillos y piezas especiales en caucho para diversos tipos de industria. Integramos tecnología, desarrollo y métodos innovadores con la finalidad de ofrecer productos que respondan a las exigencias de las diversas industrias de la región, que requieren de estos insumos para sus procesos productivos.</p>

			<p>En nuestras instalaciones contamos con la tecnologia y los equipos adecuados para la fabricación de rodillos industriales, perfiles continuos, mangueras para todo uso y piezas especiales realizadas en mezclas de caucho natural y sintético; Silicona, Neopreno, EPDM, Ebonita, Nitrilo, SBN, Vyton, entre otros. Tambien realizamos procesos de mecanizado y fabricación de moldes y piezas en acero.</p>

			<p>Con nuestra experiencia en la industria, nuestros conocimientos cientificos, nuestros equipos tecnológicos y con nuestro personal calificado estamos dispuestos a ganarnos su confianza brindandole soluciones sin límite.</p>
		</div>
	</div>
	<div class="pie_pagina">
			<div class="redes_sociales">
				<img class="logo_fb" src="{% static 'img/LOGO_FB.png' %}"alt="PCU" width="20" height="20">
				<img class="logo_insta" src="{% static 'img/LOGO_INSTA.png' %}"alt="PCU" width="20" height="20">
				<img class="logo_tweet" src="{% static 'img/LOGO_TWITT.png' %}"alt="PCU" width="20" height="20">
			</div>
			<div class="derechos_resev">
				<p>2020 Productos de Caucho Universal. All rights reserved.</p>
			</div>
		</div>
	</div>
</body>